[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=ram
Group=ram
WorkingDirectory=/home/ram/app/src/
Environment="PATH=/home/ram/app/venv/bin"
EnvironmentFile=/home/ram/.env
ExecStart=/home/ram/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target